body{
 width: 670px;
 font-family: Calibri;
}


.text-1{
  font-size: 19px;
  font-weight: bold;
}

span{
  color: rgb(234, 49, 49);
}


input{
  border-radius: 4px;
  width: 200px;
  height: 24px;
  border: 1px solid hsl(0, 100%, 95%);
}


.der{
  float: right;
  margin-top: -247px;
 
}


.pequeño-1{
  border-radius: 4px;
  width: 100px;
  height: 24px;
  border: 1px solid rgb(203, 195, 195);
}


.der-1{
  
  float: right;
  border-radius: 4px;
  width: 160px;
  height: 10px;
  border: 1px solid rgb(246, 228, 228);
  margin-top: -76px;
}


.tamanio{
 width: 270px;
}


.pequeño-2{
  border-radius: 4px;
  width: 154px;
  height: 24px;
  border: 1px solid rgb(255, 221, 221);
}


.tamanio-2{
  width: 140px;
}


.pequeño-3{
  width: 110px;
  margin-top: 77px;
  margin-left: 12px;
}


.der-3{
  float: right;
  border-radius: 4px;
  width: 120px;
  height: 10px;
  border: 1px solid rgb(255, 198, 198);
  margin-top: -48px;
}


button{
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.color-texto{
  color: grey;
}
